._64tc {
    background: #fff;
    text-rendering: optimizelegibility
}

._8k_s {
    margin-top: 70px
}

._8k_s._8_rx {
    margin-top: 90px
}

._64tc ._14gp {
    color: #8d8b8a;
    font-family: Segoe UI, Arial, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 20px;
    text-align: center
}

._64tc._1og3 ._14gp {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._3cr5 {
    color: #1479fb;
    font-family: SFProText-Semibold, Segoe UI, Arial, sans-serif;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.25rem
}

._64tc ._3cr5:hover {
    color: #116ce1
}

._64tc._1og3 ._3cr5 {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._3nhp {
    top: 70px
}

._64tc li {
    color: #8d8b8a;
    font-family: Segoe UI, Arial, Roboto, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px
}

._64tc._1og3 li {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._2qix._2qix:not(._osc) {
    background-color: #1479fb;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-family: SFProText-Semibold, Segoe UI, Arial, sans-serif;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem .75rem;
    transition: background-color .3s, border-color .3s
}

._64tc ._2qix._2qix:not(._osc):hover,
._64tc ._2qix._2qix:not(._osc):active {
    background-color: #116ce1
}

._64tc ._2qix:disabled {
    background: #b0d5ff;
    border: 1px solid #b0d5ff;
    cursor: auto
}

._64tc._1og3 ._2qix {
    font-family: Arial, Helvetica, sans-serif
}

._64tc._1og3 ._inf._2qix._3bn-,
._inf ._64tc._1og3 ._2qix {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._inf._2qix._dcm {
    background-color: rgba(0, 0, 0, .07);
    border: none;
    color: #1c1e21
}

._64tc ._inf._2qix._dcm._dcm:hover {
    background: rgba(0, 0, 0, .1);
    color: #1c1e21
}

._64tc ._ez1._34g8 {
    color: #8d8b8a;
    font-family: Effra, FreightSansLFPro, Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: .72px;
    line-height: 60px
}

._64tc._1og3 ._ez1._34g8 {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._3tmr._34g8 {
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Segoe UI, Arial, sans-serif;
    font-size: 28px;
    letter-spacing: .34px;
    line-height: 32px
}

._64tc._1og3 ._3tmr._34g8 {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._3tms._34g8 {
    color: #1c1e21;
    font-family: SFProText-Bold, Segoe UI, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .36px;
    line-height: 28px
}

._64tc._1og3 ._3tms._34g8 {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._3tmt._34g8 {
    color: #8d8b8a;
    font-family: Segoe UI, Arial, Roboto, Helvetica, sans-serif
}

._64tc._1og3 ._3tmt._34g8 {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._3tmu._34g8 {
    color: #8d8b8a;
    font-family: Segoe UI, Arial, Roboto, Helvetica, sans-serif
}

._64tc._1og3 ._3tmu._34g8 {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._3tmv._34g8 {
    color: #8d8b8a;
    font-family: Segoe UI, Arial, Roboto, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2em
}

._64tc._1og3 ._3tmv._34g8 {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._38io {
    color: #8d8b8a;
    font-family: Segoe UI, Arial, Roboto, Helvetica, sans-serif;
    font-weight: 400
}

._64tc._1og3 ._38io {
    font-family: Arial, Helvetica, sans-serif
}

._64tc ._49wt ._38io {
    font-size: 17px;
    line-height: 24px
}

._64tc ._38io ._5yvq {
    font-size: 17px;
    line-height: 24px
}

._64tc ._38io {
    font-size: 17px;
    line-height: 24px
}

._64tc ._38io ._4971 {
    font-size: 17px;
    line-height: 24px
}

._64tc ._3iqi._3iqp {
    font-size: 55px;
    line-height: 30px;
    list-style-position: outside;
    margin-left: 30px
}

._64tc ._65eg {
    font-size: 17px;
    line-height: 24px
}

._64tc ._65eh._38io {
    font-size: 17px;
    line-height: 24px
}

._64tc ._65eh._38io ._4971 {
    font-size: 17px;
    line-height: 24px
}

._64tc ._1sld .__sw ._dcm,
._64tc ._5r7f .__sw ._fjz ._dcm {
    background-color: rgba(255, 255, 255, .3);
    color: #fff
}

._64tc ._1sld .__sw ._dcm._dcm:hover,
._64tc ._5r7f .__sw ._fjz ._dcm._dcm:hover {
    background-color: rgba(255, 255, 255, .4);
    color: #fff
}

@media min-width: 1054px {
    ._8k_s:not(._8_rx) {
        margin-top: 90px
    }
}

@media (min-width: 900px) {
    ._8k_s._8_rx {
        margin-top: 80px
    }
}

@media (max-width: 639px) {
    ._64tc ._38io ._5yvq {
        font-size: 14px;
        line-height: 20px
    }

    ._64tc ._3cr5 {
        font-family: Segoe UI, Arial, Roboto, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px
    }

    ._64tc._1og3 ._3cr5 {
        font-family: Arial, Helvetica, sans-serif
    }

    ._64tc ._ez1._34g8 {
        font-size: 30px;
        line-height: 30px
    }

    ._64tc ._3tmr._34g8 {
        font-size: 28px;
        line-height: 30px
    }

    ._64tc ._3tms._34g8 {
        font-size: 14px;
        line-height: 20px
    }

    ._64tc ._3tmv._34g8 {
        font-size: 14px;
        line-height: 20px
    }

    ._64tc ._49wt ._38io {
        font-size: 14px;
        line-height: 20px
    }

    ._64tc li {
        font-size: 14px;
        line-height: 20px
    }

    ._64tc ._65eg {
        font-size: 14px;
        line-height: 20px
    }

    ._64tc ._65eh._38io {
        font-size: 14px;
        line-height: 20px
    }

    ._64tc ._65eh._38io ._4971 {
        font-size: 14px;
        line-height: 20px
    }
}

#bootloader_6_Ymk {
    height: 42px;
}

.bootloader_6_Ymk {
    display: block !important;
}